
*.v3
.vs/ProjectSettings.json
*.sqlite
.vs/VSWorkspaceState.json
*.vsidx
*.lock
.vs/XplBackupManager/v17/.suo
*.bin
*.v2
.vs/XplDev/v17/.suo
XplClient/.vs/XplClient/v17/.suo
*.dll
*.pdb
XplClient/bin/Debug/net6.0-android/XplClient.runtimeconfig.json
XplClient/bin/Debug/net6.0-android/XplClient.xml
*.dat
*.a
*.dylib
*.stamp
*.jar
*.zip
XplClient/bin/Debug/net6.0-ios/iossimulator-x64/XplClient.runtimeconfig.json
XplClient/bin/Debug/net6.0-maccatalyst/maccatalyst-x64/XplClient.runtimeconfig.json
*.exe
*.xbf
*.pri
*.appxrecipe
XplClient/bin/Debug/net6.0-windows10.0.19041.0/win10-x64/XplClient.deps.json
XplClient/bin/Debug/net6.0-windows10.0.19041.0/win10-x64/XplClient.runtimeconfig.json
*.txt
XplClient/obj/Debug/net6.0-android/_IsIncrementalBuild
*.props
*.cache
*.g.cs
*.class
*.json
*.java
*.xml
*.png
*.config
*.dex
*.o
*.s
*.inc
*.so
XplClient/obj/Debug/net6.0-android/android/bin/packaged_resources
*.ttf
*.flat
*.flata
*.properties
*.designer.cs
*.targets
*.editorconfig
*.CopyComplete
*.BuildWithSkipAnalyzers
XplService/obj/Debug/net6.0/_IsIncrementalBuild
XplService/.vs/XplService/v17/.suo
*.suo
*.user
*.svg
XplLib/obj/Debug/net6.0/_IsIncrementalBuild
*.appxmanifest
*.manifest
*.plist
*.intermediate
*.aidl
*.inputs
*.flag
*.hash
XplClient/obj/Debug/net6.0-ios/iossimulator-x64/_IsIncrementalBuild
*.items
*.storyboard
XplClient/obj/Debug/net6.0-maccatalyst/maccatalyst-x64/_IsIncrementalBuild
XplClient/obj/Debug/net6.0-windows10.0.19041.0/win10-x64/_IsIncrementalBuild
*.resfiles
*.ico
*.i.cs